<!DOCTYPE html>
<html>

<head>
    <title>Cart </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--  <link rel="stylesheet" href="css/main-stylesheet.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>

<body>
    <header>
        <nav class="navbar navigation-cls-sty navbar-expand-md navbar-light bg-light shadow-sm  full-screen-menu">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="images/logo_1.png"></a>
                <div class="cart-small-show d-none">
                    <ul class="navbar-nav full-screen-menu">
                        <li class="nav-item btn-log-cls signup-btn cart-icon-right">
                            <a class="nav-link" data-bs-toggle="modal" data-target="#myModal" href="login.html" style="background: #fa4a0c00;"><i class="fa fa-shopping-cart"></i>&nbsp; Cart</a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" onclick="homeLogoClick()">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="our-partners.html">Our Partners </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="our-partners.html">Promotions </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="our-partners.html">Holidays </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="our-partners.html">Hotels </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="offers.html">Our Offers </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o"></i> username </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">My Profile</a>
                                <a class="dropdown-item" href="#">Bookings</a>
                                <a class="dropdown-item" href="#">Logout</a>
                                <a class="dropdown-item" href="#">UD Money (Coming Soon)</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link btn btn-primary text-white py-1 mt-1" data-bs-toggle="modal" data-bs-target="#myModal" href="javascript:void(0)" data-backdrop="static" data-keyboard="false">Login/ Sign up</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- top filter div -->
    <div class="card opacity-card bg-light d-none border-0 shadow" id="filter">
        <div class="card-body pb-1 pt-3">
            <div class="row row-cols-md-5 justify-content-center">
                <div class="col-lg-auto col-6 frm-banner-col3">
                    <div class="form-group">
                        <!-- <label for="usr">City:</label> -->
                        <div class="input-cls-new">
                            <input type="text" class="form-control" placeholder="Select your City">
                            <img src="images/target-icon.png" class="icon-frm-cls">
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-6 frm-banner-col3">
                    <div class="form-group">
                        <!-- <label for="usr">City:</label> -->
                        <div class="input-cls-new">
                            <input type="text" class="form-control" placeholder="Select your City">
                            <img src="images/target-icon.png" class="icon-frm-cls">
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-6 frm-banner-col3">
                    <div class="form-group">
                        <!-- <label for="usr">Start Date and Time:</label> -->
                        <div class="input-cls-new">
                            <input type="text" class="form-control" placeholder="Select your City">
                            <img src="images/calender-icon.png" class="icon-frm-cls">
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-6 frm-banner-col3">
                    <div class="form-group">
                        <!-- <label for="usr">End Date and Time:</label> -->
                        <div class="input-cls-new"> <input type="text" class="form-control" placeholder="Select your City">
                            <img src="images/calender-icon.png" class="icon-frm-cls">
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto col-6">
                    <div class="d-grid"><button class="btn btn-block btn-primary button-martop-m">Search</button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Filter DIV -->
    <main class="mn-section-bd">
        <!-- Modal cart Start-->
        <div class="modal fade" id="myModalcart" role="dialog">
            <div class="modal-dialog modalbox__block">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header couponModal__head">
                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        <h4 class="modal-title">APPLY COUPON</h4>
                    </div>
                    <div class="modal-body modal-body-cart">
                        <form action="/action_page.php">
                            <div class="form-group">
                                <label for="pwd">Enter a coupon</label>
                                <input type="text" class="form-control input-type" id="email" placeholder="Type coupon code here">
                            </div>
                        </form>
                        <div class="text-center span"><span>OR</span></div>
                        <div>
                            <h4 class="Choose-a-coupon">Choose a coupon</h4>
                        </div>
                        <div class="couponModalcart__listItem">
                            <label class="radio-inline cart-level-redi"><input type="radio" name="optradio" checked>.</label>
                            <div class="couponModal__listName"> <span class="couponModal__cpnName ng-binding">DELHI15</span> <span class="couponModal__cpnSaving">Max discount <span><i class="fa fa-rupee"></i>500</span></span> </div>
                            <div class="couponModal__listTerms-ul">
                                <div class="couponModal__listTerms ng-binding ng-scope" ng-repeat="term in couponDetail.terms"> Flat 15% off up to Rs. 500/- </div>
                                <div class="couponModal__listTerms ng-binding ng-scope" ng-repeat="term in couponDetail.terms"> Coupon applicable for Delhi </div>
                                <div class="couponModal__listTerms ng-binding ng-scope" ng-repeat="term in couponDetail.terms"> No minimum booking amount </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-default apply-sty" data-dismiss="modal">Apply</button>
                            <button type="button" class="btn btn-default cancel-sty" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Apply</button>
              </div> -->
                </div>
            </div>
        </div>
        <!-- Modal cart End -->
        <section class="py-5">
            <!-- ptb-130 news-part-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="">
                            <h4 class="sub-head h5">Your Booking</h4>
                            <!--  <div>
                                    <span>Booking Time:&nbsp;</span>22 Nov 18, 09 PM &nbsp;to&nbsp; 23 Nov 18, 02 AM 
                                </div> -->
                            <hr>
                            <div class="col-sm-12">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3 col-sm-4 col-12">
                                        <img src="images/mercedese.jpg" class="d-block rounded mx-auto img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-8 py-2 col-12">
                                        <h4 class="h5 mb-1 px-2">Activa</h4>
                                        <div class="mb-1 bg-light rounded px-2"><span><span class="text-primary me-2 font-weight-bold">Source:</span>INA Metro Station</span>
                                            <span class="ms-4"><span class="text-primary me-2 font-weight-bold">Destination:</span>Airport</span></div>
                                        <div class="mb-1 bg-light rounded px-2"><span><span class="text-primary me-2 font-weight-bold">Trip Type:</span>Oneway</span>
                                        </div>
                                        <div class="mb-1 bg-light rounded px-2"><span><span class="text-primary me-2 font-weight-bold">Pickup Date & Time:</span> <i class="fa fa-calendar"></i>  12 Jun2 2021  <i class="fa fa-clock-o ms-2 me-1"></i>10:10:20</span>
                                        </div>
                                        <div class="mb-1 bg-light rounded px-2">
                                         <span class="d-block"><span class="text-primary me-2 me-2 font-weight-bold">Drop Date & Time:</span> <i class="fa fa-calendar"></i> 12 Jun2 2021 <i class="fa fa-clock-o ms-2 me-1"></i>10:10:20</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 py-2 bg-light col-12 pt-3 text-center">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-md-12 col-6">
                                                <div class="h2"><i class="fa fa-rupee"></i>800</div>
                                            </div>
                                            <div class="col-md-12 mx-auto col-6">
                                                <div class="mb-0">
                                                    <div class="input-group mb-3 w-75 mx-auto">
                                                        <button class="btn btn-primary" type="button" id="decrease" onclick="decreaseValue()">-</button>
                                                        <input type="text" class="form-control text-center" id="number" value="0" placeholder="" aria-label="Example text with two button addons">
                                                        <button class="btn btn-primary" type="button" id="increase" onclick="increaseValue()">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="text-end d-block"><input type="checkbox"> I have read the Terms and Conditions</label>
                                    <div class="col-sm-12 mt-2 cartmn-cls">
                                        
                                        <nav class="border-top pt-2">
                                            <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                                                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Inclusions</a>
                                                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Exclusions</a>
                                                <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Terms & Conditions</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content p-3  mb-4  border rounded" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <div class="row align-items-center font-weight-bold">
                                                    <div class="col-auto py-2">
                                                        <img src="images/gas-station.svg" width="20"> Base Fare at <i class="fa fa-rupee"></i>9.15/km
                                                    </div>
                                                    <div class="col-auto py-2">
                                                        <img src="images/taxi-driver.svg" width="20"> Driver Allowance
                                                    </div>
                                                    <div class="col-auto py-2">
                                                        <img src="images/document.svg" width="20"> GST (5%)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <div class="row align-items-center font-weight-bold">
                                                    <div class="col-auto py-2">
                                                        <img src="images/gas-station.svg" width="20"> Base Fare at <i class="fa fa-rupee"></i>9.15/km
                                                    </div>
                                                    <div class="col-auto py-2">
                                                        <img src="images/taxi-driver.svg" width="20"> Driver Allowance
                                                    </div>
                                                    <div class="col-auto py-2">
                                                        <img src="images/document.svg" width="20"> GST (5%)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                <h4 class="h6">Terms & Conditions</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            </div>
                                        </div>
                                        <!--  <div class="term-cart term-cart-resposive">
                    <div class="panel-group bulleticon" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel-default">
                        <div class="panel-heading panel-heading-sty" role="tab" id="heading4">
                          <h4 class="panel-title panel-titless m-0 p-0">
                          <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <i class="more-less fa fa-angle-down" aria-hidden="true"></i>
                            TERMS AND CONDITION
                          </a>
                          </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                          <div class="panel-body panel-body-sty">
                            <div class="productPage__productWsDetailsLimits">
                              <div class="productPage__productWsDetailsLimitsPage__productWsDetailsLimitsSpeed">
                                <form class="readio-btn-sty">
                                  <label class="radio-inline labels">
                                    <input type="radio" name="optradio" checked=""> Speed Limit  <b>NA .</b>  Km Limit  <b>NA .</b> Excess  NA
                                  </label>
                                </form>
                              </div>
                            </div>
                            <div class="cart-section-size">
                              <p>- Minimum age of rider must be 21 years.</p>
                              <p>- Driving License will be verified in original.</p>
                              <p>- Original ID proof (Voter ID, Aadhar Card or Passport) needs to be submitted at the time of pick up.</p>
                              <p>- Customer has to provide a Post Dated Cheque of the vehicles current value while pickup.</p>
                              <p>- Late Return fee would be Rs.100/hour plus hourly & daily basis rent.</p>
                              <p>- 1 helmet is complimentary</p>
                              <p>- Fuel charges are not included.</p>
                              <p>- If customer take bike for trip off more than 400 km , he has to pay Rs.500 for general servicing.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>   -->
                                    </div>
                                </div>
                            </div>
                            <!--   <div class="cart__sctnLeftCartAddMore"><span ng-click="search();"><i class="fa fa-angle-left" aria-hidden="true"></i>Add More Product</span></div> -->
                            <h4>Contact Details</h4>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" id="text" placeholder="Firs Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" id="text" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input type="text" class="form-control" id="text" placeholder="Email ID">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <div class="row  no-gutters">
                                            <div class="col-3">
                                                <input type="text" class="form-control" id="text" placeholder="+91">
                                            </div>
                                            <div class="col-9">
                                                <input type="text" class="form-control" id="text" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Flight Number</label>
                                        <input type="text" class="form-control" id="text" placeholder="Flight Number">
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Pickup Address</label>
                                        <input type="text" class="form-control" id="text" placeholder="Pickup Address">
                                        <ul class="list-inline small text-muted">
                                            <li class="list-inline-item">Airport pickup?</li>
                                            <li class="list-inline-item">Railway Station pickup?</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Drop Address</label>
                                        <input type="text" class="form-control" id="text" placeholder="Drop Address">
                                       <ul class="list-inline small text-muted">
                                            <li class="list-inline-item">Airport drop?</li>
                                            <li class="list-inline-item">Railway Station drop?</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  Hey, your actual distance of the trip is <strong>35 km</strong> and your fare has been updated to <strong>1500</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Special Request</label>
                                        <textarea class="form-control" placeholder="Special Request"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-light  menu-fix side-menu-fix  shadow-sm border-0">
                            <div class="card-body">
                                <div class="p-4">
                                    <h3 class="h5">PRICE DETAILS</h3>
                                    <hr>
                                    <div class="sidebar-widget">
                                        <ul class="price-details list-unstyled">
                                            <li class="m-0">Base Fare<span><i class="fa fa-rupee"></i><b>350</b></span></li>
                                            <li class="m-0"><a href="" class="product-comparess-li6" data-bs-toggle="modal" data-bs-target="#myModalcart">Have a coupon? </a></li>
                                            <li class="m-0">Night Charges<span><i class="fa fa-rupee"></i><b>63</b></span></li>
                                            <li class="m-0">Driver Allowance<span><b><i class="fa fa-rupee"></i>0</b></span>
                                            </li>
                                            <li class="m-0">GST<span><b><i class="fa fa-rupee"></i>10</b></span></li>
                                            <li class="m-0"> Total Amount<span> <i class="fa fa-rupee"></i><b>10</b></span>
                                            </li>
                                            <hr class="mt-1 mb-1">
                                            <li class="m-0 font-weight-bold h5 text-dark">Amount to Pay <span><i class="fa fa-rupee"></i><b>423</b></span></li>
                                        </ul>
                                        <div class="row">
                                            <div class="col-6 px-1">
                                                <div class="d-grid">
                                                    <button type="button" class="btn  btn-sm btn-primary">Pay Advance<small class="d-block"> (Pay Rs. 168.00)</small></button>
                                                </div>
                                            </div>
                                            <div class="col-6 px-1">
                                                <div class="d-grid">
                                                    <button type="button" class="btn btn-sm btn-primary">Pay Full <small class="d-block">(Pay Rs. 568.00)</small></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="container-fluid"> -->
        <section class="footer-cls-sty d-flex justify-content-center align-items-center pt-3 bottom-fotter3">
            <div class="container">
                <div class="footer-copy">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 text-left">
                            <ul class="list-inline">
                                <li><img src="images/visa.png"></li>
                                <li><img src="images/card.png"></li>
                                <li><img src="images/paypal.png"></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-end">
                            <p>Copyright 2017 to 2022 Urban Drive All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="js/jquery3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script type="text/javascript">
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('fa fa-angle-down fa fa-angle-up');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.tablinks').click(function(e) {
            $('.tablinks').removeClass('active');
            var $this = $(this);
            if (!$this.hasClass('active')) {
                $this.addClass('active');
            }
            //e.preventDefault();
        });
    });
    </script>
    <script>
    $(document).ready(function() {
        $("#btn-mob-menu").click(function() {
            $(".small-screen-menu").toggleClass("show");
            $(this).toggleClass("nav-xs-menu");
        });
        $('.mn-section-bd').click(function() {
            if ($('.small-screen-menu').hasClass('show')) {
                $('.small-screen-menu').removeClass('show');
            }
            if ($('#btn-mob-menu').hasClass('nav-xs-menu')) {
                $('#btn-mob-menu').removeClass('nav-xs-menu');
            }
            if ($('body').hasClass('overflow-none')) {
                $('body').removeClass('overflow-none');
            } else {

            }
        });

    });

    function increaseValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
    }

    function decreaseValue() {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('number').value = value;
    }
    </script>
</body>

</html>